.bi-twitter, .fa-magic{
    color: #29ABE2;
}
.icons{
    margin-right: 10px;
}
body{
    display: flex;
}
/* nav{
    width:300px;
} */
.nav-div a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.nav-div a:hover{
    color: #29ABE2;
}
.twitter-btn button{
    background-color: #29ABE2;
    font-weight: 600;
}
.bi-caret-down-fill:hover{
    color: #29ABE2;
    cursor: pointer;
}
section{
    z-index: -1;
}
.fa-magic{
    cursor: pointer;
}
.fa-magic:hover{
    color: #000;
}
.input-div{
    align-items: center;
    width: 100%;
}
.input-div > input{
    width: 100%;
    outline: none;
    border: none;
    font-weight: 600;
    color: #75758A;
}
.icon{
    color: #29ABE2;
    justify-content: space-around;
    cursor: pointer;
}
.icon:hover{
    color: #000;
}
.homeTwitterBtn{
    background-color: #29ABE2;
}
.tweet-icons:hover{
    color: #29ABE2;
    cursor: pointer;
}
.tweetProfileImg{
    padding-left: 1rem;
}
.search-icon{
    color: #29ABE2;
    margin-left: 20px;
    cursor: pointer;
}
.search-icon:hover{
    opacity: 0.6;
}
.search-input{
    color: #808AA6;
    width: 100%;
    outline: none;
    background-color: transparent;
}
.searchBarDiv{
    background-color: rgba(129, 147, 170, 0.384);
}